version: "3.9"

services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    restart: always
    env_file:
        - .env
    volumes:
        - db_volume:/var/lib/mysql
    networks:
        - inception

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    restart: always
    env_file:
        - .env
    volumes:
        - wp_volume:/var/www/html
    networks:
        - inception
    depends_on:
        - mariadb

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    restart: always
    ports:
        - "443:443"
    volumes:
        - wp_volume:/var/www/html
    networks:
        - inception
    depends_on:
        - wordpress

volumes:
  db_volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/zakaria/data/mariadb
  wp_volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/zakaria/data/wordpress

networks:
  inception:
    driver: bridge
